@page "/documentation"
<h3>Пользовательская документация</h3>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Данный сайт предоставляет взаимодействие между API и пользователем.</p>

<h5>Расписание</h5>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Первая страница <a class="font-weight-bold link-dark" href="/schedule">расписание</a>, позволяет добавлять расписание и группы, которые не были обработаны ботом (или представляют специфический набор символов) в базу данных. Переключение между формами реализовано соотвествующими кнопками</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;Для добавления расписания необходимо заполнить все поля формы и нажать кнопку отправить. С добавлением групп операция аналогична. Если необходимо добавить более одной записи, нужно нажать на кнопку +, в форме добавится еще одно поле для заполнения. Если форма не будет заполнена или будет заполнена неккректно, будет выведено соответсвующее оповещение.</p>

<h5>База данных</h5>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<a class="font-weight-bold link-dark" href="/database">Данная</a> страница отвечает за просмотр, редактирование и удаление записей из базы данных. С помощью кнопки "редактор" активируется режим редактирования, который ползоваляет редактировать базу данных. Также после взаимодействия высветится оповещение, в котором будет отображено последнее действие и сколько полей было затронуто.</p>

<h5>Статистика</h5>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Здесь будет выведена вся <a class="font-weight-bold link-dark" href="/statistic">статистика</a> по группам (процент посещаемости и их активности в целом) в процентных состовляющих. Также можно запросить личную статистику по студенту при переключении соответствующей кнопкой. На данный момент можно запросить полную статистику за один день в виде excel файла, который будет скачен на ваше устройство после генерации. В будущем будет добавлена возможность запрашивать отчет по предмету и иным параметрам.</p>
@*<div class="card mb-4">
    <h5 class="card-header">Setting on a per modal basis</h5>
    <div class="card-body">
        <p class="card-text">
            <code>
                @("var options = new ModalOptions() { HideCloseButton = true };")
                <br />
                @("Modal.Show<Confirm>(\"Hiding Close Button\", options);")
            </code>
        </p>
    </div>
</div>*@

<h3>Техническая документация</h3>
<div class="card mb-4">
    <div class="card-body">
        <p class="card-text">
            <code>
                Будет добавлена позже
            </code>
        </p>
    </div>
</div>