@page "/"
<PageTitle>Index</PageTitle>

<h1>Добро пожаловать!</h1>

<div class ="test">Данный веб-сайт представляет собой результат разработки в рамках дипломной работы, 
    в которую входит программный модуль, созданный специально для его функционирования. 
    Этот комплексный проект объединяет в себе технологические решения и функциональные возможности, 
    предоставляя пользователям удобный доступ к статистике успеваемости студентов и предлагая будущее расширение функционала 
    для улучшенной организации процесса записи на сдачу работ. Разработка данного сайта и программного модуля была выполнена
    с учетом современных требований и методов, с целью обеспечить эффективное и удобное взаимодействие между преподавателями и студентами.</div>
    
<AuthorizeView>
    <NotAuthorized>
        <SurveyPrompt Title="Чтобы использовать функционал необходимо войти в систему" />
    </NotAuthorized>
    <Authorized>
        <SurveyPrompt Title="Документация" TitileHref="располагается тут" Href="/documentation" />
    </Authorized>
</AuthorizeView>