@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_scheduleEntity.SubjectName</p>
<input type="text" @bind="@_scheduleEntity.SubjectName"/>
<input type="datetime" @bind="@_scheduleEntity.StartTimeTheSubject"/>
<input class="form-control" placeholder="HH:MM" @bind="@_scheduleEntity.StartTimeTheSubject" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <div class="content">
                <div class="form-group">
                    <label>Time</label>
                    <div class="input-group time" id="timepicker">
                        <input class="form-control" placeholder="HH:MM" />
                        <span class="input-group-append input-group-addon">
                            <span class="input-group-text">
                                <i class="fa fa-clock"></i>
                                </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>